.wrapper {
  @apply w-full h-screen flex items-center
  justify-center bg-cover bg-center bg-fixed relative overflow-y-hidden;

  .header-img {
    @apply w-full h-full absolute -z-10;
  }

  .header-content {
    @apply px-4 lg:px-28 2xl:px-32 flex lg:flex-row flex-col lg:justify-between items-center w-full lg:gap-0 gap-8;

    .header-data {
      @apply flex flex-col justify-center lg:items-start items-center lg:w-1/2 w-full gap-8;
      .header-title {
        @apply text-primary_light font-bold 2xl:text-7xl xl:text-5xl lg:text-4xl text-3xl;
      }

      .header-info {
        @apply text-primary_light text-lg leading-8 font-normal lg:px-0 lg:text-start px-4 text-center;
      }
    }

    .header-form {
      @apply lg:block hidden;
    }

    .application {
      @apply lg:hidden;
      button{
        @apply bg-primary_yellow rounded-3xl h-12 border-none py-4 px-6 text-lg font-bold flex justify-center items-center;
      }
    }

    .social-media {
      @apply flex flex-col justify-center items-center w-8 h-full;
      .social-link {
        @apply flex lg:flex-col flex-row justify-center items-center gap-8;
        padding: 20px 0;

        .link {
          @apply block text-primary_light;
          transition: all .3s;

          &:hover {
            transform: scale(1.4);
            color: rgba(246, 222, 7, .5);
            text-shadow: 0 0 10px rgba(246, 222, 7, .5);
          }
        }
      }

      .vr-line {
        @apply h-32 border-r-2 border-r-primary_light hidden lg:block;
      }
      .g-line {
        @apply w-32 border-t-2 border-t-primary_light flex lg:hidden;
      }
    }
  }
}